@model webAdmin.Models.DKGiaoThong.viewDKChotGT
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Điều Kiển</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .ngaduong {
            height: 300px;
            border-style: solid;
            border-width: 1px;
            padding:5px
        }
    </style>
</head>
<body>
    <div style=" margin-top:10px" class="container">
        <form class="form-inline" style="margin-top: 30px" method="post" action="/DKGiaoThong/Index">
            <span style="margin-right:10px"><b>Chốt Đường: </b></span>
            <select name="duong1" id="duong1">
                
                    @foreach (var duong in Model.Duongs)
                    {
                        <option value="@duong.ten_duong">@duong.ten_duong</option>
                    }
                
            </select>
            <span style="margin-left:5px;margin-right:5px;">Giao với</span>
            <select name="duong2" id="duong2">
                
                    @foreach (var duong in Model.Duongs)
                    {
                        <option value="@duong.ten_duong">@duong.ten_duong</option>
                    }
                

            </select>
            <button type="submit" class="btn btn-primary" style="margin-left:10px">Submit</button>
        </form>
        @if (Model.mes != null)
        {
            <p style="color:red">@Model.mes</p>
        }
    </div>
    <section style="margin-top:15px;">
        <form method="post" action="">
            <div class="container">
                <div class="row">
                    <div class="col-xs-4 col-md-4">
                        <div class="ngaduong mr-1 ml-1 mt-1 mb-1">
                            @if (Model.ngaDuong1 != null)
                            {
                                <div style="text-align:center"><B style="font-size:20px">@Model.ngaDuong1.tenDuong</B></div>
                                <div class="container" style="margin-top:20px">
                                    <div class="row" id="">

                                        @foreach (var den in Model.ngaDuong1.cTDens)
                                        {
                                            <img alt="@den.link" style="width:20px; height:20px" />
                                            <div class="col-xs-6 col-md-6">@den.ma_den</div>
                                            <select name="duong1" id="@den.ma_den" class="one one'@den.ma_den'">
                                                @if (den.xanh == 1)
                                                {
                                                    <option value="1">Xanh</option>
                                                    <option value="2">Đỏ</option>
                                                }
                                                @if (den.do_ == 1)
                                                {
                                                    <option value="2">Đỏ</option>
                                                    <option value="1">Xanh</option>

                                                }

                                            </select>
                                        }
                                    </div>
                                </div>
                            }
                        </div>
                        </div>
                        <div class="col-xs-4 col-md-4">
                            <div class="ngaduong mr-1 ml-1 mt-1 mb-1">
                                @if (Model.ngaDuong2 != null)
                                {
                                    <div style="text-align:center"><B style="font-size:20px">@Model.ngaDuong2.tenDuong</B></div>
                                    <div class="container" style="margin-top:20px">
                                        <div class="row">

                                            @foreach (var den in Model.ngaDuong2.cTDens)
                                            {
                                                string name2 = "duong2" + den.ma_den;
                                                <div class="col-xs-6 col-md-6 row">
                                                    <img src="@den.link" style="width:50px; height:50px" />
                                                    <select name="@name2" id="@den.ma_den" class="two @den.ma_den">
                                                        @if (den.do_ == 1)
                                                        {
                                                            <option value="1">Xanh</option>
                                                            <option value="2">Đỏ</option>

                                                        }
                                                        else
                                                        {
                                                            <option value="2">Đỏ</option>
                                                            <option value="1">Xanh</option>

                                                        }




                                                    </select>
                                                </div>

                                            }
                                        </div>
                                    </div>
                                }
                            </div>


                        </div>
                        <div class="col-xs-4 col-md-4 ">
                            <div class="ngaduong mr-1 ml-1 mt-1 mb-1">
                                @if (Model.ngaDuong3 != null)
                                {
                                    <div style="text-align:center"><B style="font-size:20px">@Model.ngaDuong3.tenDuong</B></div>
                                    <div class="container" style="margin-top:20px">
                                        <div class="row">

                                            @foreach (var den in Model.ngaDuong3.cTDens)
                                            {
                                                string name3 = "duong3" + den.ma_den;
                                                <div class="col-xs-6 col-md-6 row">
                                                    <img src="@den.link" style="width:50px; height:50px" />
                                                    <select name="@name3" id="@den.ma_den" class="three @den.ma_den">
                                                        @if (den.do_ == 1)
                                                        {
                                                            <option value="1">Xanh</option>
                                                            <option value="2">Đỏ</option>

                                                        }
                                                        else
                                                        {
                                                            <option value="2">Đỏ</option>
                                                            <option value="1">Xanh</option>

                                                        }

                                                    </select>
                                                </div>

                                            }
                                        </div>
                                    </div>
                                }
                            </div>
                                
                            </div>
                        <div class="col-xs-4 col-md-4">
                            <div class="ngaduong mr-1 ml-1 mt-1 mb-1">
                                @if (Model.ngaDuong4 != null)
                                {
                                    <div style="text-align:center"><B style="font-size:20px">@Model.ngaDuong4.tenDuong</B></div>
                                    <div class="container" style="margin-top:20px">
                                        <div class="row">

                                            @foreach (var den in Model.ngaDuong4.cTDens)
                                            {
                                                string name4 = "duong4" + den.ma_den;
                                                <div class="col-xs-6 col-md-6 row">
                                                    <img src="@den.link" style="width:50px; height:50px" />
                                                    <select name="@name4" id="@den.ma_den" class="four @den.ma_den">
                                                        @if (den.do_ == 1)
                                                        {
                                                            <option value="1">Xanh</option>
                                                            <option value="2">Đỏ</option>

                                                        }
                                                        else
                                                        {
                                                            <option value="2">Đỏ</option>
                                                            <option value="1">Xanh</option>

                                                        }

                                                    </select>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                }
                                </div>
                            </div>
                        <div class="col-xs-4 col-md-4 ">
                            <div class="ngaduong mr-1 ml-1 mt-1 mb-1">
                                <div style="text-align:center">
                                    <B style="font-size:40px">Phần Điều Kiển</B>
                                    <button type="submit" class="btn btn-primary" style="margin-left:10px">Áp Dụng</button>

                                </div>
                            </div>
                            </div>
                            <div class="col-xs-4 col-md-4">
                                <div class="ngaduong mr-1 ml-1 mt-1 mb-1">
                                    @if (Model.ngaDuong6 != null)
                                    {
                                        <div style="text-align:center"><B style="font-size:20px">@Model.ngaDuong6.tenDuong</B></div>
                                        <div class="container" style="margin-top:20px">
                                            <div class="row">

                                                @foreach (var den in Model.ngaDuong6.cTDens)
                                                {
                                                    string name6 = "duong6" + den.ma_den;
                                                    <div class="col-xs-6 col-md-6 row">
                                                        <img src="@den.link" style="width:50px; height:50px" />
                                                        <select name="@name6" id="@den.ma_den" class="six @den.ma_den">
                                                            @if (den.xanh == 1)
                                                            {
                                                                <option value="1">Xanh</option>
                                                                <option value="2">Đỏ</option>
                                                            }
                                                            @if (den.do_ == 0)
                                                            {
                                                                <option value="2">Đỏ</option>
                                                                <option value="1">Xanh</option>

                                                            }

                                                        </select>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4 ">
                                <div class="ngaduong mr-1 ml-1 mt-1 mb-1">
                                    @if (Model.ngaDuong7 != null)
                                    {
                                        <div style="text-align:center"><B style="font-size:20px">@Model.ngaDuong7.tenDuong</B></div>
                                        <div class="container" style="margin-top:20px">
                                            <div class="row">

                                                @foreach (var den in Model.ngaDuong7.cTDens)
                                                {
                                                    <div class="col-xs-6 col-md-6 row">
                                                        <img src="@den.link" style="width:50px; height:50px" />
                                                        <select name="duong1" id="@den.ma_den" class="seven @den.ma_den">
                                                            @if (den.xanh == 1)
                                                            {
                                                                <option value="1">Xanh</option>
                                                                <option value="2">Đỏ</option>
                                                            }
                                                            @if (den.do_ == 0)
                                                            {
                                                                <option value="2">Đỏ</option>
                                                                <option value="1">Xanh</option>

                                                            }

                                                        </select>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4 ">
                                <div class="ngaduong mr-1 ml-1 mt-1 mb-1">
                                    @if (Model.ngaDuong8 != null)
                                    {
                                        <div style="text-align:center"><B style="font-size:20px">@Model.ngaDuong8.tenDuong</B></div>
                                        <div class="container" style="margin-top:20px">
                                            <div class="row">

                                                @foreach (var den in Model.ngaDuong8.cTDens)
                                                {
                                                    string name8 = "duong8" + den.ma_den;
                                                    <div class="col-xs-6 col-md-6 row">
                                                        <img src="@den.link" style="width:50px; height:50px" />
                                                        <select name="@name8" id="@den.ma_den" class="eigth @den.ma_den">
                                                            @if (den.xanh == 1)
                                                            {
                                                                <option value="1">Xanh</option>
                                                                <option value="2">Đỏ</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="2">Đỏ</option>
                                                                <option value="1">Xanh</option>

                                                            }

                                                        </select>
                                                    </div>
                                                }
                                            </div>
                                        </div>


                                    }
                                </div>
                            </div>
                            <div class="col-xs-4 col-md-4 ">
                                <div class="ngaduong mr-1 ml-1 mt-1 mb-1">
                                    @if (Model.ngaDuong9 != null)
                                    {
                                        <div style="text-align:center"><B style="font-size:20px">@Model.ngaDuong9.tenDuong</B></div>

                                        <div class="container" style="margin-top:20px">
                                            <div class="row ">

                                                @foreach (var den in Model.ngaDuong9.cTDens)
                                                {
                                                    string name9 = "duong9" + den.ma_den;
                                                    <div class="col-xs-6 col-md-6 row ">
                                                        <img src="@den.link" style="width:50px; height:50px" />
                                                        <select name="@name9" id="@den.ma_den" class="nine @den.ma_den">
                                                            @if (den.xanh == 1)
                                                            {
                                                                <option value="1">Xanh</option>
                                                                <option value="2">Đỏ</option>
                                                            }
                                                            else
                                                            {
                                                                <option value="2">Đỏ</option>
                                                                <option value="1">Xanh</option>

                                                            }

                                                        </select>
                                                    </div>
                                                }
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
            </div>
             
        </form>
    </section>

    <script>
        $(document).ready(function () {
            
            $('.two').change(function () {
                const id = this.id
                const val = $(this).val()
                if (val == 1) {
                    $('.two').val(2)
                    $('#' + id).val(1)
                    $('.eigth').val(2)
                    alert('.eight.' + id)
                    $('.eight, .'+id).val(1)
                }
                else {
                    $('.two').val(1)
                    $('#' + id).val(2)
                    $('.eigth').val(1)
                    const a = "\'" + id + "\'";
                    alert('.eight.' + id)
                    $('.eight, .' + id).val(2)
                }
            })
        })
    </script>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

</html>
