@model webAdmin.Models.DKGiaoThong.viewDKChotGT
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Điều Kiển</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        .ngaduong {
            height: 300px;
            border-style: solid;
            border-width: 1px;
            padding:5px
        }
    </style>
</head>
<body>
    <div style=" margin-top:10px" class="container">
        <form class="form-inline" style="margin-top: 30px" method="post" action="/DKGiaoThong/Index">
            <span style="margin-right:10px"><b>Chốt Đường: </b></span>
            <select name="duong1" id="duong1">
                
                    @foreach (var duong in Model.Duongs)
                    {
                        <option value="@duong.ten_duong">@duong.ten_duong</option>
                    }
                
            </select>
            <span style="margin-left:5px;margin-right:5px;">Giao với</span>
            <select name="duong2" id="duong2">
                
                    @foreach (var duong in Model.Duongs)
                    {
                        <option value="@duong.ten_duong">@duong.ten_duong</option>
                    }
                

            </select>
            <button type="submit" class="btn btn-primary" style="margin-left:10px">Submit</button>
        </form>
        @if (Model.mes != null)
        {
            <p style="color:red">@Model.mes</p>
        }
    </div>
    <section style="margin-top:15px">
        <form>
            <div class="row">
                <div class="col-xs-4 col-md-4 ngaduong" style="background-color:red;  "> .col-xs-9 .col-md-7</div>
                <div class="col-xs-4 col-md-4 ngaduong" style="background-color:lavender;">.col-xs-3 .col-md-5</div>
                <div class="col-xs-4 col-md-4 ngaduong" style="background-color:red;">.col-xs-9 .col-md-7</div>
                <div class="col-xs-4 col-md-4 ngaduong" style="background-color:lavender;">.col-xs-3 .col-md-5</div>
                <div class="col-xs-4 col-md-4 ngaduong" style="background-color:lavender;">
                    <div style="text-align:center"><B style="font-size:40px">Phần Điều Kiển</B></div>

                </div>
                <div class="col-xs-4 col-md-4 ngaduong" style="background-color:lavender;">.col-xs-3 .col-md-5</div>
                <div class="col-xs-4 col-md-4 ngaduong" style="background-color:red;">.col-xs-9 .col-md-7</div>
                <div class="col-xs-4 col-md-4 ngaduong" style="background-color:lavender;">.col-xs-3 .col-md-5</div>
                <div class="col-xs-4 col-md-4 ngaduong" style="background-color:red;">.col-xs-9 .col-md-7</div>
            </div>
        </form>
    </section>
    
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
    function selectedtext1(item) {
        var selvalue = item.valuse;
        var seltext = item.options[item.selectedIndex].innerHTML;
        $("#duong2").val(seltext)
    }
    function selectedtext(item) {
        var selvalue = item.valuse;
        var seltext = item.options[item.selectedIndex].innerHTML;
        $("#duong1").val(seltext)
    }
</script>
</html>
